@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(47.28deg, #b50cbc 0%, #4e009d 48.8%, #00032c 100%)
    no-repeat center center fixed;
  color: #fff;
}
.logo {
  text-align: left;
  margin-top: 2rem;
  margin-left: 12%;
}
.headerBefore {
  margin-top: 8rem;
}
.headerBefore h1 {
  font-size: 6rem;
  font-weight: lighter;
}

.inputContener {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  width: 68.5rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 2.5rem;
  padding: 1rem;
}
.inputContener h3 {
  color: #012765;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 4rem auto 5rem;
}

.inputContener input {
  height: 5rem;
  width: 80%;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3rem;
  border: none;
  font-size: 1.8rem;
  text-align: center;
}
input:focus {
  outline: none;
}
.inputContener input:placeholder-shown {
  text-align: center;
  font-size: 1.8rem;
}
input:focus::placeholder {
  color: transparent;
}

.wrong {
  border: 0.2rem solid #ff0000 !important;
}
.wrongInfo {
  color: #ff0000;
  font-size: 1.6rem;
}
button {
  background: linear-gradient(
    47.28deg,
    #b50cbc 0%,
    #4e009d 48.8%,
    #00032c 100%
  );
  height: 5rem;
  width: 30rem;

  border: none;
  border-radius: 4rem;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
button .circle {
  position: absolute;
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.headerAfter h1 {
  font-size: 6rem;
  font-weight: lighter;
  margin-bottom: 15rem;
}
.hidden {
  display: none;
}

.planets {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.planet {
  background-color: white;
  color: #000000;
  height: 20rem;
  width: 45rem;
  margin: 1rem 1rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.88;
  border-radius: 2.5rem;
  position: relative;
}

.planet strong {
  margin-bottom: 4rem;
  font-size: 2.5rem;
}
.planet p {
  margin-bottom: 1rem;
}
.planet img {
  position: absolute;
  height: 8rem;
  width: 8rem;
  top: 1.5rem;
  left: 1.5rem;
}
#Sun {
  left: 10rem;
  top: 0.5rem;
  width: 12rem;
  height: 12rem;
}
#Saturn {
  left: 0;
  top: 0;
  height: 13rem;
  width: 13rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 900px) {
  * {
    width: auto !important;
    overflow-x: hidden !important;
  }
  h1 {
    font-size: 3.5rem !important;
  }
  .inputContener {
    width: 35rem !important;
    margin: 4rem auto;
  }
  .planets {
    width: 45rem;
    grid-template-columns: auto !important;
  }
  .planet {
    width: 35rem !important;
    grid-column: 1;
    margin-left: 0;
    margin-right: 0;
  }
  button {
    width: 50% !important;
  }
}
