<<<<<<< Updated upstream
=======
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;

  background: linear-gradient(47.28deg, #b50cbc 0%, #4e009d 48.8%, #00032c 100%)
    no-repeat center center fixed;
  color: #fff;
}
.logo {
  text-align: left;
  margin-top: 20px;
  margin-left: 12%;
}
.headerBefore {
  margin-top: 80px;
}
.headerBefore h1 {
  font-size: 60px;
  font-weight: lighter;
}

.inputContener {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 35%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 25px;
  padding: 10px;
}
.inputContener h3 {
  color: #012765;
  font-weight: bold;
  font-size: 25px;
  margin: 40px auto 50px;
}

.inputContener input {
  height: 50px;
  width: 80%;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  font-size: 18px;
  text-align: center;
}
input:focus {
  outline: none;
}
.inputContener input:placeholder-shown {
  text-align: center;
  font-size: 18px;
}
input:focus::placeholder {
  color: transparent;
}
button {
  background: linear-gradient(
    47.28deg,
    #b50cbc 0%,
    #4e009d 48.8%,
    #00032c 100%
  );
  height: 50px;
  width: 50%;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.headerAfter h1 {
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 150px;
}

.planets {
  border: solid;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.planet {
  background-color: white;
  color: #000000;
  height: 200px;
  width: 450px;
  margin: 10px 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.88;
  border-radius: 25px;
}

.planet strong {
  margin-bottom: 40px;
  font-size: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
>>>>>>> Stashed changes
